.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.wrapper {
    background:#ffffff;
    min-height: 100vh;
    width: 100%;
    color:rgb(0, 0, 0);
    position: relative;
  }

.App-header {
    width: 100%;
    background-color: #282c34;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
}

.App-link {
    color: #61dafb;
}

.CartTitle {
    position: relative;
    left: 40%;
    font-size: 24px;
    font-weight: bold;
    margin: 8px;
    text-align: left;
    margin-left: 10px;
}
.login {
    width: 70%;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    max-height: 120px;
    margin-bottom: 10px;
}

.Cart {
    position: relative;
    left: 40%;
    width: 25%;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 30px;
    margin-left: 50px;
    min-height: 100px;
    margin-bottom: 10px;
    
    
}

.CartText {
    position: flex;
    left: 500px;
    text-align:left;
    margin-left: 15px;
    line-height: 20px;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
