a {
    text-decoration: none;
}

.App {
    text-align: center;
    background-color: azure;
    min-height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Intro-header {
    width: 100%;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
    background-image: url(https://img.freepik.com/premium-photo/vegetables-fruits-are-food-background-header-healthy-food-website_114160-2135.jpg?w=2000);
}

.description {
    border: 3px solid #969696;
}

.image {
    background-image: url(https://img.freepik.com/premium-photo/vegetables-fruits-are-food-background-header-healthy-food-website_114160-2135.jpg?w=2000);
    height: 250px;
}

.App-link {
    color: #61dafb;
}

.CartTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 8px;
    text-align: left;
    margin-left: 25px;
}

.Cart {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    height: 365px;
    margin-bottom: 20px;
    border: 5px solid black;
    overflow-y: scroll;
}

.CentralList {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    max-height: 365px;
    overflow-y: scroll;
    margin: 8px;
    margin-bottom: 50px;
}

.CartText {
    text-align: left;
    margin-left: 25px;
    line-height: 10px;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.Food-Container {
    position: relative;
    display: flex;
}

.Food-Button {
    margin: 5px;
    display: flex;
    float: left;
    background-color: rgb(192, 215, 255);
    height: 110px;
}

.Food-Button:hover {
    transform: scale(1.1);
}

.Food-Desc {
    position: absolute;
    left: 100%;
    width: 200px;
    text-align: left;
    background-color: ghostwhite;
    z-index: 1;
}

.Trash-Can {
    display: flex;
}

.scroll-down {
    color: black;
    text-decoration: none;
    background-color: white;
    font-weight: bolder;
}
.scroll-down:hover {
    color: black;
    background-color: orange;
    font-size: larger;
}

.Super-Buttons {
    display: flex;
    float: left;
}

.User-Control {
    display: flex;
    margin: 10px;
    margin-bottom: 0px;
}

.row {
    margin: 0;
}
